<mat-toolbar class="d-flex justify-content-between">
  <h3 class="ml-3">Corpora List</h3>
</mat-toolbar>

<div class="row mt-4 pt-2">
  <div class="col-10 mx-auto">
    <h4>Use this page to check the validity of your files. Corrupted files or files with incorrect filetypes will not show up here. Changes will not show up until refreshed.</h4>
    <h4><b>Warning: Refreshing can take several minutes -  depending on number and length of files in the corpora.</b></h4>
  </div>
</div>

<div class="mat-elevation-z2 table-styling corpora-table">
  <div class="w-100 justify-content-end d-flex p-4 refresh-button"><button mat-raised-button color="primary"
        [disabled]="refreshing"
        (click)="refreshCorporaList()">
    <mat-icon>refresh</mat-icon>&nbsp;Refresh Corpora
    </button>
  </div>

  <mat-form-field class="filter-field">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Corpus">
  </mat-form-field>

  <table mat-table [dataSource]="corporaList" matSort>

    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let corpus"> {{corpus.path}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let corpus" style="text-transform: lowercase;"> {{corpus.type}} </td>
    </ng-container>

    <ng-container matColumnDef="files_count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Files Count</th>
      <td mat-cell *matCellDef="let corpus"> {{corpus.files_count}} </td>
    </ng-container>

    <ng-container matColumnDef="last_refreshed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Refresh</th>
      <td mat-cell *matCellDef="let corpus"> {{corpus.last_refreshed | date:'medium'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let corpus; columns: displayedColumns;"
    [routerLink]="['/admin', 'corpora', corpus.path]">
    </tr>
  </table>

</div>
