<mat-grid-list cols="2" rowHeight="2:1" gutterSize="3px">
  <mat-grid-tile *ngFor="let campaign of campaignsList">
    <mat-card class="campaign-card">
      <mat-card-header>
        <mat-card-title>{{ campaign.name }}</mat-card-title>
        <mat-card-subtitle>Created by .</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <section>
          <label id="task-progress">Tasks:</label>
          <!-- TODO: check this -->
          <mat-progress-bar
            aria-labelledby="task-progress"
            color="primary"
            mode="determinate"
            value="{{ campaign.completed_tasks / campaign.total_tasks | percent }}">
          </mat-progress-bar>
        </section>

        <section>
          <label id="files-assigned">Files:</label>
          <!-- TODO: check this -->
          <mat-progress-bar
            aria-labelledby="files-assigned"
            color="primary"
            mode="determinate"
            value="{{ campaign.assigned_files / campaign.total_files | percent }}">
          </mat-progress-bar>
        </section>

        <section>
          <p> <em>Annotators:</em> {{campaign.annotators.join(" ,")}}</p>
        </section>

      </mat-card-content>
      <mat-card-actions>
        <!-- TODO: add router link -->
        <button mat-button>View</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
