<mat-toolbar class="d-flex justify-content-between">
  <h3 class="ml-3">Campaigns</h3>
  <span class="space-filler"></span>

  <h4 class="ml-3 sort-by-label">Sort by: </h4>
  <mat-form-field class="sorting-select">
    <mat-select [(ngModel)]="campaignDisplayPref.sortBy" (selectionChange)="campaignDisplayPrefChange()">
      <mat-option value="creation">Creation</mat-option>
      <mat-option value="lastUpdated">Last Updated</mat-option>
      <mat-option value="name">Name</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="campaignDisplayPref.excludeOthers"
                    (change)="campaignDisplayPrefChange()"
                    matTooltip="Hide other campaign manager's campaigns from the list"
    class="hide-others-toggle">
    Hide others
  </mat-slide-toggle>
  <button class="mr-3" mat-raised-button
          [routerLink]="['/admin', 'campaign', 'create']" color="primary">
    <mat-icon style="color: var(--text-white);">add</mat-icon>&nbsp;Add campaign
  </button>
</mat-toolbar>


<div class="container-fluid" *ngIf="campaignsList">
  <div class="row m-3">
    <div class="col-10 mx-auto text-center pt-5 noCampaignMessage" *ngIf="campaignsList.length === 0">
      <h4>Add new campaigns to your account by clicking the button in the upper right of the window.</h4>
      <div class="arrow float-right mr-n5 pr-n5"><img src="../assets/images/arrow.png"></div>
    </div>
    <div class="col-12 col-lg-6 d-flex" *ngFor="let campaign of campaignsList">
      <mat-card class="campaign-card m-3 p-4 w-100 d-flex flex-column"
                [routerLink]="['/admin', 'campaign', campaign.slug]">
        <mat-card-header>
          <mat-card-title>{{ campaign.name }}</mat-card-title>
          <mat-card-subtitle>Created by {{campaign.creator.fullname}}</mat-card-subtitle>
        </mat-card-header>

        <div class="campaign-divider">
          <hr/>
        </div>

        <mat-card-content>
          <div class="progress-row row d-flex align-items-center pt-2">
            <div class="progress-row-title col-auto">
              <h4 class="m-0"><span>Files:</span></h4>
            </div>
            <div class="col">
              <seshat-progress-bar [completed]="campaign.stats.assigned_files"
                                   [total]="campaign.stats.total_files"
                                   [completedAdjective]="'assigned'">
              </seshat-progress-bar>
            </div>
            <div class="progress-row-total pl-0">
              <h4 class="m-0">{{ campaign.stats.total_files }}</h4>
            </div>
          </div>

          <div class="progress-row row d-flex align-items-center pt-2">
            <div class="progress-row-title col-auto">
              <h4 class="m-0"><span>Tasks:</span></h4>
            </div>
            <div class="col">
              <seshat-progress-bar [completed]="campaign.stats.completed_tasks"
                                   [total]="campaign.stats.total_tasks"
                                   [completedAdjective]="'completed'">
              </seshat-progress-bar>
            </div>
            <div class="progress-row-total pl-0">
              <h4 class="m-0">{{ campaign.stats.total_tasks }}</h4>
            </div>
          </div>

          <div class="progress-row row d-flex align-items-center pt-2">
            <div class="col-auto">
              <h4 class="m-0 d-inline pr-1">Annotators:</h4>
              <span *ngIf="campaign.annotators.length; else noAnnotators">
                <a class="d-inline"
                   [routerLink]="['/admin', 'annotators', 'view', annotator.username]"
                   *ngFor="let annotator of campaign.annotators">{{annotator.fullname}}</a>
              </span>
              <ng-template #noAnnotators><h5 class="d-inline">None</h5></ng-template>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="mt-auto d-flex justify-content-end">
          <button [routerLink]="['/admin', 'campaign', campaign.slug]" mat-button color="primary">View Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
