.space-filler {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-stroked-button{
  border: 1px solid rgba(136,136,136, 1) !important;
}

::ng-deep {
  .mat-card-header-text {
    margin: 0 !important;
    cursor: pointer;
  }
}


.noCampaignMessage{
  .arrow{
    width: 200px;
    margin-top: -4.5rem;
    img{
      width: 100%;
    }
  }
}
