.seshat-toolbar {
  height: 100vh;
  width: 30vw !important;
  max-width: 300px !important;
  overflow: hidden;
  padding-top: 0 !important;
  background-color: var(--color-forest);
  // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);



  .mat-list-item{
    height: initial;
  }

  .logged-in-circle{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--color-lime);
  }

  .mat-expansion-panel{
    background-color: inherit;
    margin-left: -24px;
  }

  ::ng-deep{
    .mat-expansion-indicator::after{
      // color: var(--color-lime) !important;
      //color to be decided. if white there needs to be more of an in
      color: var(--text-white) !important;
    }
  }

  .navLink{
    cursor: pointer;
  }



}


.campaigns-menu-item {
  height: auto !important;
}
