<mat-toolbar color="primary" class="seshat-toolbar">
  <mat-toolbar-row>
    <span>Seshat</span>
    <span class="spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false">notification_important</mat-icon>
  </mat-toolbar-row>

  <div *ngIf="userData; then nameMenuItem">

  </div>
  <ng-template #nameMenuItem>
    <mat-toolbar-row>
      <span>{{userData.first_name}}</span>
    </mat-toolbar-row>
  </ng-template>

  <div *ngIf="isAdmin(); then adminMenu">
  </div>
  <ng-template #adminMenu>
    <mat-toolbar-row>
      <span>Dashboard</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Annotators</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Campaigns
            </mat-panel-title>
            <mat-panel-description>
              List all active campaigns
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <a mat-list-item [routerLink]="['/admin', 'campaign', campaign.slug]"
               *ngFor="let campaign of campaignsData">
              {{ campaign.name }}
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-toolbar-row>
  </ng-template>

  <div *ngIf="isAnnotator()">
    <mat-toolbar-row>
      <span>Tasks</span>
    </mat-toolbar-row>
  </div>

  <mat-toolbar-row>
    <button mat-mini-fab color="accent"
            matTooltip="Logout of Seshat"
            (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
