<script src="../../../admin/admin.module.ts"></script>
<mat-list color="primary" class="seshat-toolbar">
  <mat-list-item class="seshat-menubar-title">
    <span>Seshat</span>
    <span class="spacer"></span>
    <button mat-flat-button ><mat-icon class="example-icon" (click)="displayNotifications()">notification_important</mat-icon></button>
  </mat-list-item>

  <div *ngIf="userData; then nameMenuItem">

  </div>
  <ng-template #nameMenuItem>
    <mat-list-item>
      <span>{{userData.first_name}}</span>
    </mat-list-item>
  </ng-template>

  <div *ngIf="this.userData && this.userData.type === 'admin'; then adminMenu">
  </div>
  <ng-template #adminMenu>
    <mat-list-item class="campaigns-menu-item">
      <mat-accordion [hideToggle]="campaignsData.length === 0" displayMode="flat">
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title [routerLink]="['/admin']">
              Campaigns
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span [routerLink]="['/admin', 'campaign', campaign.slug]" *ngFor="let campaign of campaignsData">
            {{ campaign.name }}
          </span>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list-item>

    <mat-list-item>
      <span [routerLink]="['/admin', 'annotators']">Annotators</span>
    </mat-list-item>

    <!--
    <mat-list-item *ngIf="campaignsData">
      <button mat-button [matMenuTriggerFor]="menu">Campaigns</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/admin', 'campaign', campaign.slug]"
                *ngFor="let campaign of campaignsData">{{campaign.name}}</button>
      </mat-menu>

    </mat-list-item>
    -->
  </ng-template>

  <div *ngIf="this.userData && this.userData.type === 'annotator'; then annotatorMenu">
  </div>

  <ng-template #annotatorMenu>
    <mat-list-item>
      <span>Tasks</span>
    </mat-list-item>
  </ng-template>

  <mat-list-item>
    <button mat-mini-fab color="accent"
            matTooltip="Logout of Seshat"
            (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
