::ng-deep {
  // used to disable interactions with the stepper
  .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
  .mat-horizontal-stepper-header-container{
    padding-left: 8.33333333%;
    padding-right: 8.33333333%;
  }
  .mat-step-icon, .mat-step-icon-selected{
    width: 36px !important;
    height: 36px !important;
    //36-24 = 12 /2 = 6
    margin-top: -6px !important;
  }
  .mat-step-icon-selected{
    box-shadow: 0 0 0 3px white, 0 0 0 5px var(--color-olive);
    z-index: 10;
  }
  .mat-form-field-disabled{
    color: var(--text-light) !important;
  }
    .mat-step-label{
      overflow: visible !important;
      white-space: normal !important;
  }
  .mat-step-text-label{
    overflow: visible !important;
    white-space: normal !important;
    text-transform: capitalize !important;
  }

}

.task-instructions{
  background-color: #fcfcfc;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 1.5rem;
  display:flex;
  flex-direction: column;
  flex-grow:1;
  text-align: left;
}



.mat-form-field-disabled{
  color: var(--text-light) !important;
}


.mat-form-field{
  cursor: pointer;
}
