::ng-deep {
  // used to disable interactions with the stepper
  .mat-horizontal-stepper-header {
    // pointer-events: none !important;
  }
  .mat-horizontal-stepper-header-container{
    padding-left: 8.33333333%;
    padding-right: 8.33333333%;
  }
  .mat-step-icon, .mat-step-icon-selected{
    width: 36px !important;
    height: 36px !important;
    //36-24 = 12 /2 = 6
    margin-top: -6px !important;
  }
  .mat-step-icon-selected{
    box-shadow: 0 0 0 3px white, 0 0 0 5px var(--color-olive);
    z-index: 10;
  }
  .mat-form-field-disabled{
    color: var(--text-light) !important;
  }

}


.task-table-info{
  line-height: initial;
  tr{
    td:first-child{
      text-align: right;
      padding-right: calc(1rem);
    }
    a{
      font-family: 'Open Sans', sans-serif;
      color: var(--color-forest);
      font-weight: 200;
      margin-bottom: 0 !important;
      margin-right: 0.33rem;
    }
  }
}

.mat-form-field-disabled{
  color: var(--text-light) !important;
}
