.files-table > table {
  width: 30%;
}

.files-table {
  max-height: 400px;
  overflow: auto;
}


::ng-deep.mat-form-field-disabled{
  opacity:0;
}

.refresh-corpus-button {
  right: 10px;
  position: absolute;
  top: 15px;
}
