<h3>Files selection</h3>
<div class="files-selection">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="corpusFilesDataSource" matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selectedFiles.hasValue() && isAllSelected()"
                        [indeterminate]="selectedFiles.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let file">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectedFiles.toggle(file) : null"
                        [checked]="selectedFiles.isSelected(file)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let file"> {{file.filename}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="assigned_tasks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
        <td mat-cell *matCellDef="let file"> {{file.task_count}}% </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let file; columns: displayedColumns;">
      </tr>
    </table>

  </div>
</div>

<h3>Annotators selection</h3>
<div class="users-selection mat-elevation-z2">
  <mat-radio-group [(ngModel)]="taskType">
    <mat-radio-button value="single">Single Annotator</mat-radio-button>
    <mat-radio-button value="double">Double Annotator</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>!
    <input matInput [matDatepicker]="picker" placeholder="Deadline"
           [(ngModel)]="deadline" [min]="minDeadline">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Annotator"
             matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
      (optionSelected)="">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  </form>

</div>

<div class="action-buttons">
  <button mat-button>CANCEL</button>
  <button mat-raised-button color="primary">
    <mat-icon>add</mat-icon>Assign Tasks
  </button>
</div>
