<mat-toolbar color="primary" class="d-flex justify-content-between">
  <button matTooltip="Annotators" matTooltipPosition="right" matTooltipShowDelay="500" mat-flat-button [routerLink]="['/admin', 'annotators']">
    <mat-icon >keyboard_arrow_left</mat-icon>
  </button>
  <div class="text-center d-flex">
    <h3>{{annotatorProfileEdit.first_name}} {{annotatorProfileEdit.last_name}}</h3>
    <h4> &nbsp; - &nbsp; {{annotatorProfile.username}}</h4>
  </div>
  <div style="width:64px;"></div>
</mat-toolbar>

<div *ngIf="annotatorProfile" class="container-fluid annotator-profile-view">

  <div class="row m-3">
    <div class="col-12">
      <div class="progress-row row d-flex align-items-end justify-content-between ml-3 pl-1 mr-3 pr-1 pt-2 mb-n2">
        <h3 style="color:var(--text-medium-light)">Annotator Information</h3>
        <button class="mb-1" mat-raised-button (click)="updateAnnotatorProfile()" color="primary">
          <mat-icon>save</mat-icon>
          Save changes
        </button>
      </div>
      <mat-card class="campaign-card m-3 p-4">
        <!-- <div class="d-flex justify-content-end mb-3">
            <button mat-raised-button (click)="updateAnnotatorProfile()" color="primary">
                <mat-icon>save</mat-icon>
                Save changes
              </button>
        </div> -->
        <div id="edition-container" class="row">
          <table class="mx-auto annotator-info">
            <tr>
              <td>
                <h4 class=""><span>Name:</span></h4>
              </td>
              <td>
                <mat-form-field floatLabel="never" class="">
                  <mat-label>
                    <h4>First Name</h4>
                  </mat-label>
                  <input matInput placeholder="First Name" [(ngModel)]="annotatorProfileEdit.first_name">
                </mat-form-field>
                &nbsp;
                <mat-form-field floatLabel="never" class="">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="First Name" [(ngModel)]="annotatorProfileEdit.last_name">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <h4><span>Username:</span></h4>
              </td>
              <td>
                <h4>{{annotatorProfile.username}}</h4>
              </td>
            </tr>
            <tr>
              <td>
                <h4><span>Email:</span></h4>
              </td>
              <td>
                <mat-form-field floatLabel="never" class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" [(ngModel)]="annotatorProfileEdit.email">
                </mat-form-field>
              </td>
            </tr>
            <tr>
                <td>
                  <h4 class=""><span>Password:</span></h4>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                  <mat-form-field floatLabel="never">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="newPassword" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <div class="alt-mat-theme">
                    <button mat-flat-button (click)="updatePassword()" color="warn">Update Password</button>
                  </div>
                </div>
                </td>
              </tr>
            <tr>
              <td>
                <h4><span>Account created:</span></h4>
              </td>
              <td>
                <h4>{{annotatorProfile.creation_date}}</h4>
              </td>
            </tr>
            <tr>
              <td>
                <h4 class="mt-2 mb-3"><span>Last activity:</span></h4>
              </td>
              <td>
                <h4 class="mt-2 mb-3">{{annotatorProfile.last_activity| date: 'medium'}}</h4>
              </td>
            </tr>
            <tr>
              <td>
                <h4><span>Actions:</span></h4>
              </td>
              <td>
                <button mat-raised-button [color]="annotatorProfile.is_locked? 'accent' : 'primary'"
                        [matTooltip]="annotatorProfile.is_locked? 'Click to unlock account' : 'Click to lock account'"
                        (click)="updateAnnotatorLock()">
                  <mat-icon>{{ annotatorProfile.is_locked ? 'lock' : 'lock_open' }}</mat-icon>
                  {{ annotatorProfile.is_locked ? 'Account Locked' : 'Account Unlocked' }}
                </button>
                &nbsp;
                <div class="alt-mat-theme d-inline">
                  <button mat-flat-button color="warn" (click)="deleteAnnotator()" class="float-right">
                    <mat-icon>delete_forever</mat-icon>
                    Delete User
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-12">
      <div class="progress-row row d-flex align-items-center ml-3 pl-1 mr-3 pr-1 pt-2 mb-n2">
        <h3 style="color:var(--text-medium-light)">Assigned Tasks</h3>
      </div>
      <mat-card class="campaign-card m-3 p-0 pt-4">
        <seshat-tasks-list [annotatorUsername]="annotatorProfile.username"></seshat-tasks-list>
      </mat-card>
    </div>
  </div>

</div>
