<div class="progress-row row d-flex align-items-center pt-2">
  <div class="progress-row-title col-auto">
    <h4 class="m-0"><span>Files:</span></h4>
  </div>
  <div class="col">
    <div class="progress-container w-100" *ngIf="campaignStats.total_files != 0; else progressZeroFiles">
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          attr.aria-valuenow="{{ campaignStats.assigned_files }}"
          aria-valuemin="0"
          attr.aria-valuemax="{{ campaignStats.total_files }}"
          [style.max-width]="campaignStats.assigned_files / campaignStats.total_files | percent">
          <ng-container *ngIf="campaignStats.assigned_files / campaignStats.total_files >= 0.5; else halfGrayFiles">
            <h5 class="pl-2 text-right"><span>{{ campaignStats.assigned_files }} assigned &nbsp;</span></h5>
          </ng-container>
          <ng-template #halfGrayFiles>
            <ng-container *ngIf="campaignStats.assigned_files / campaignStats.total_files > 0; else allGrayFiles">
              <h5 class="pl-2 mr-n5 text-right"><span>{{ campaignStats.assigned_files }}</span> assigned</h5>
            </ng-container>
            <ng-template #allGrayFiles>
              <h5 class="pl-2 text-right">{{ campaignStats.assigned_files }} assigned</h5>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
    <ng-template #progressZeroFiles>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          attr.aria-valuenow="{{ campaignStats.assigned_files }}"
          aria-valuemin="0"
          aria-valuemax="1"
          [style.max-width]="campaignStats.assigned_files / 1 | percent">
          <h5 class="pl-2">{{ campaignStats.assigned_files }} assigned</h5>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="progress-row-total pl-0">
    <h4 class="m-0">{{ campaignStats.total_files }}</h4>
  </div>
</div>
<div class="progress-row row d-flex align-items-center pt-2">
  <div class="progress-row-title col-auto">
    <h4 class="m-0"><span>Tasks:</span></h4>
  </div>
  <div class="col">
    <div class="progress-container w-100" *ngIf="campaignStats.total_tasks != 0; else progressZeroTasks">
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          attr.aria-valuenow="{{ campaignStats.completed_tasks }}"
          aria-valuemin="0"
          attr.aria-valuemax="{{ campaignStats.total_tasks }}"
          [style.max-width]="campaignStats.completed_tasks / campaignStats.total_tasks | percent">
          <ng-container *ngIf="campaignStats.completed_tasks / campaignStats.total_tasks >= 0.5; else halfGrayTasks">
            <h5 class="pl-2">{{ campaignStats.completed_tasks }} completed</h5>
          </ng-container>
          <ng-template #halfGrayTasks>
            <ng-container *ngIf="campaignStats.completed_tasks / campaignStats.total_tasks > 0; else allGrayTasks">
              <h5 class="pl-2 mr-n5 text-right"><span>{{ campaignStats.completed_tasks }}</span> complete</h5>
            </ng-container>
            <ng-template #allGrayTasks>
              <h5 class="pl-2 text-right">{{ campaignStats.completed_tasks }} completed</h5>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
    <ng-template #progressZeroTasks>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          attr.aria-valuenow="{{ campaignStats.completed_tasks }}"
          aria-valuemin="0"
          aria-valuemax="1"
          [style.max-width]="campaignStats.completed_tasks / 1 | percent">
          <h5 class="pl-2">{{ campaignStats.completed_tasks }} completed</h5>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="progress-row-total pl-0">
    <h4 class="m-0">{{ campaignStats.total_tasks }}</h4>
  </div>
</div>
