<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z2">
  <table mat-table [dataSource]="tasks" matSort>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Filename</th>
      <td mat-cell *matCellDef="let task">
        <button mat-mini-fab color="warn"
                matTooltip="View task"
                (click)="viewTask(task)">
          <mat-icon>pageview</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="file">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Filename</th>
      <td mat-cell *matCellDef="let task"> {{task.filename}} </td>
    </ng-container>

    <ng-container matColumnDef="annotators">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Annotators</th>
      <td mat-cell *matCellDef="let task">{{task.annotators.join(", ")}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
      <td mat-cell *matCellDef="let task"> {{task.task_type}} </td>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline</th>
      <td mat-cell *matCellDef="let task"> {{task.deadline ? task.deadline : 'None' }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td mat-cell *matCellDef="let task"> {{task.status }} </td>
    </ng-container>

    <ng-container matColumnDef="lock-action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Locked</th>
      <td mat-cell *matCellDef="let task" (click)="$event.stopPropagation()">
        <mat-slide-toggle
          class="example-margin"
          color="accent"
          [matTooltip]="task.is_locked ? 'Click to unlock' : 'Click to lock'"
          [checked]="task.is_locked"
          (toggleChange)="changeTaskLock(task)">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete-action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete</th>
      <td mat-cell *matCellDef="let task" (click)="$event.stopPropagation()">
        <button mat-mini-fab color="warn"
                matTooltip="Delete the task"
                (click)="deleteTask(task)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="taskColumns"></tr>
    <tr mat-row *matRowDef="let task; columns: taskColumns;"
        (click)="viewTask(task)">
    </tr>
  </table>
</div>
