<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z2">
  <table mat-table [dataSource]="tasks" matSort>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Filename </th>
      <td mat-cell *matCellDef="let task">
        <button mat-mini-fab color="warn"
                matTooltip="View task"
                (click)="viewTask(task)">
          <mat-icon>pageview</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="file">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Filename </th>
      <td mat-cell *matCellDef="let task"> {{task.filename}} </td>
    </ng-container>

    <ng-container matColumnDef="annotators">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Filename </th>
      <td mat-cell *matCellDef="let task">{{task.annotators.join(", ")}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let task"> {{task.type}} </td>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
      <td mat-cell *matCellDef="let task"> {{task.deadline }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let task"> {{task.status }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let task">

        <div *ngIf="task.is_locked; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <button mat-mini-fab color="accent"
                  matTooltip="Lock the task"
                  (click)="unlockTask(task)">
            <mat-icon>lock_open</mat-icon>
          </button>
        </ng-template>
        <ng-template #elseBlock>
          <button mat-mini-fab color="accent"
                  matTooltip="Lock the task"
                  (click)="lockTask(task)">
            <mat-icon>lock</mat-icon>
          </button>
        </ng-template>
        <button mat-mini-fab color="warn"
                matTooltip="Delete the task"
                (click)="deleteTask(task)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="taskColumns"></tr>
    <tr mat-row *matRowDef="let task; columns: taskColumns;">
    </tr>
  </table>
</div>
