.space-filler {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  width: 40px;
}

.campaign-view-body {
  width: 90%;
  margin: auto;
}
.mat-stroked-button{
  border: 1px solid rgba(136,136,136, 1) !important;
}

.mat-icon {
  color: var(--text-dark);
}

.progress-row-title {
  width: 150px;
  text-align:right;
}

.progress-row-total {
  width: 35px;
}

.progress-bar {
  width: 100%;
  background-color: var(--color-gold);
  border-radius: .25rem;

}


.task-button{
  margin-bottom: calc(-1rem * 4);
}


::ng-deep{
  .delete-campaign{
  .mat-button-wrapper{
    display: flex !important;
    align-items: center !important
  }
  }
  .tiers-expansion{

    td{
      color: var(--text-medium) !important;
      font-size: 0.75rem;
      font-weight: 200;
    }

    .mat-expansion-panel-body{
      padding: 0;
      padding-left: 0px !important;
      padding-right: 24px;
      padding-bottom: 16px;
    }
  }
}

// .mat-list-item:nth-child(odd){
//   background: var(--color-light-gray);
// }

.mat-expansion-panel-header{
  padding: 0;
  padding-right: 24px;
  // margin-left: -24px;
}



tr{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.tier-styling{
  background: var(--text-white) !important;
  border-radius: 4px;

  table {
    width: 100%;
  }

  th{
    padding-left: calc(1rem / 2) !important;
    padding-right: calc(1rem / 2) !important;
    padding-top: calc(1rem / 2) !important;
    padding-bottom: calc(1rem / 2) !important;
  }
  td{
    padding-left: calc(1rem / 2) !important;
    padding-right: calc(1rem / 2) !important;
    padding-top: calc(1rem / 4) !important;
    padding-bottom: calc(1rem / 4) !important;
  }

  .mat-row{
    td:first-child{
      padding-left: calc(1rem * 1.5) !important;
    }
  }

  .mat-header-row{
    th:first-child{
      padding-left: calc(1rem * 1.5) !important;
    }
  }

  tr:nth-child(odd) {
    background: var(--color-light-gray);
  }

  tr:nth-child(even) {
    background: var(--text-white);
  }

  .mat-header-row {
    background: var(--text-white) !important;
  }
}
