<mat-toolbar class="d-flex justify-content-between">

  <button matTooltip="Campaigns" matTooltipPosition="right" matTooltipShowDelay="500" *ngIf="campaign" mat-flat-button [routerLink]="['/admin', 'campaign', 'list']">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <h3>{{campaign.name}}</h3>
  <div class="alt-mat-theme">
    <button class="mr-3" mat-raised-button color="{{ currentUserIsSubscriber ? 'warn' : 'accent'}}"
            (click)="changeFollowState()"> {{ currentUserIsSubscriber ? 'Unfollow' : 'Follow'}}</button>
  </div>
</mat-toolbar>

<div *ngIf="campaign" class="container-fluid">
  <div class="row m-3">
    <div class="col-12">
      <div class="progress-row row d-flex align-items-center ml-3 pt-2 pl-1 mb-n2">
        <h3 style="color:var(--text-medium-light)">Campaign Overview</h3>
      </div>
      <mat-card class="campaign-card m-3 p-4">

        <div class="progress-row row d-flex align-items-start pt-2 mb-2 pb-1">
          <div class="progress-row-title col-auto">
            <h4 class="m-0">Files:</h4>
          </div>
          <div class="col">
            <seshat-progress-bar [completed]="campaign.stats.assigned_files"
                                 [total]="campaign.stats.total_files"
                                 [completedAdjective]="'assigned'">
            </seshat-progress-bar>
          </div>
          <div class="progress-row-total pl-0">
            <h4 class="m-0">{{ campaign.stats.total_files }}</h4>
          </div>
        </div>

        <div class="progress-row row d-flex align-items-start pt-2 mb-2 pb-1">
          <div class="progress-row-title col-auto">
            <h4 class="m-0">Tasks:</h4>
          </div>
          <div class="col">
            <seshat-progress-bar [completed]="campaign.stats.completed_tasks"
                                 [total]="campaign.stats.total_tasks"
                                 [completedAdjective]="'completed'">
            </seshat-progress-bar>
          </div>
          <div class="progress-row-total pl-0">
            <h4 class="m-0">{{ campaign.stats.total_tasks }}</h4>
          </div>
        </div>


        <div class="progress-row row d-flex align-items-start pt-2 mb-2 pb-1">
          <div class="progress-row-title col-auto">
            <h4 class="m-0">Description:</h4>
          </div>
          <div class="col">
            <mat-card-subtitle>
              {{campaign.description}}
            </mat-card-subtitle>
          </div>
        </div>
        <div class="progress-row row d-flex align-items-start pt-2 mb-2 pb-1">
          <div class="progress-row-title col-auto">
            <h4 class="m-0">Corpus:</h4>
          </div>
          <div class="col">
            <mat-card-subtitle>
              <a [routerLink]="['/admin', 'corpora', campaign.corpus_path]">
                {{campaign.corpus_path}}
              </a>
            </mat-card-subtitle>
          </div>
        </div>
        <div class="progress-row row d-flex align-items-start pt-2 pb-1">
          <div class="progress-row-title col-auto">
            <h4 class="m-0">Annotators:</h4>
          </div>
          <div class="col mt-n1" *ngIf="campaign.annotators.length; else noAnnotators">
            <a class="d-inline" [routerLink]="['/admin', 'annotators', 'view', annotator.username]"
               *ngFor="let annotator of campaign.annotators">{{annotator.fullname}}</a>
          </div>
          <ng-template #noAnnotators>
            <div class="col">
              <mat-card-subtitle>None</mat-card-subtitle>
            </div>
          </ng-template>
        </div>

        <div class="progress-row row d-flex align-items-start pt-2 pb-1">
          <div class="progress-row-title col-auto">
            <h4 class="m-0">Checking Scheme:</h4>
          </div>
          <div class="col">
            <mat-card-subtitle *ngIf="!checkingScheme">
              None
            </mat-card-subtitle>

            <mat-accordion *ngIf="checkingScheme" class="tiers-expansion">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>{{checkingScheme.tier_specs.length}} Tier(s)</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <table class="tier-styling w-100">
                  <tr>
                    <th class="mat-header-cell">Name</th>
                    <th class="mat-header-cell">Required</th>
                    <th class="mat-header-cell">Allow Empty</th>
                    <th class="mat-header-cell">Validation Type</th>
                    <th class="mat-header-cell">Accepted Categories</th>
                    <th class="mat-header-cell">Parser Name</th>
                  </tr>
                  <tr *ngFor="let tierSpecs of checkingScheme.tier_specs">
                    <td>{{tierSpecs.name}}</td>
                    <td>{{tierSpecs.required ? 'Yes' : 'No'}}</td>
                    <td>{{tierSpecs.allow_empty ? 'Yes' : 'No'}}</td>
                    <td>{{tierSpecs.checking_type | titlecase}}</td>
                    <td><span *ngIf="tierSpecs.checking_type === 'CATEGORICAL'">{{tierSpecs.categories.join(", ")}}</span></td>
                    <td><span *ngIf="tierSpecs.checking_type === 'PARSED'">{{tierSpecs.parser.name}}</span></td>
                  </tr>
                </table>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </div>


        <div class="progress-row row d-flex align-items-start pt-2 pb-1">
          <div class="progress-row-title col-auto">
            <h4 class="m-0">Download:</h4>
          </div>
          <div class="col alt-mat-theme">
            <button class="mr-3 mb-1" mat-stroked-button color="primary" (click)="getCampaignArchive()"><mat-icon color="primary">get_app</mat-icon>&nbsp;Full Annotation Archive</button>
            <button class="mr-3 mb-1" mat-stroked-button color="primary" [routerLink]="['/admin', 'campaign', campaign.slug, 'wiki', 'edit']"><mat-icon color="primary">get_app</mat-icon>&nbsp;Consistency Analytics CSV</button>
          </div>
        </div>

        <div class="progress-row row d-flex align-items-start pt-1 pb-1">
          <div class="progress-row-title col-auto">
            <h4 class="m-0">Other Actions:</h4>
          </div>
          <div class="col alt-mat-theme">
            <button class="mr-3 mb-3" mat-stroked-button color="primary" [routerLink]="['/admin', 'campaign', campaign.slug, 'wiki', 'edit']"><mat-icon color="primary">edit</mat-icon>&nbsp;Edit Campaign Wiki</button>
            <button class="float-none float-lg-right delete-campaign" mat-flat-button color="warn" (click)="deleteCampaign()"><mat-icon>delete</mat-icon>&nbsp;Delete Campaign</button>
          </div>
        </div>

      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="campaign" class="container-fluid">
  <div class="row m-3">
    <div class="col-12">
      <div class="progress-row row d-flex align-items-center ml-3 pl-1 mr-3 pr-1 pt-2 mb-n2">
        <h3 style="color:var(--text-medium-light)">Task List</h3>
      </div>
      <mat-card class="campaign-card m-3 p-0">
        <div class="w-100 justify-content-end d-flex p-4 task-button">
          <button mat-raised-button color="primary" [routerLink]="['/admin', 'campaign', campaign.slug, 'assign']"><mat-icon style="color: var(--text-white);">add</mat-icon>&nbsp;Assign Task</button>
        </div>
        <seshat-tasks-list class="w-100" [campaignSlug]="campaign.slug"></seshat-tasks-list>
      </mat-card>
    </div>
  </div>
</div>
