.space-filler {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  width: 40px;
}

.campaign-view-body {
  width: 90%;
  margin: auto;
}
.mat-stroked-button{
  border: 1px solid rgba(136,136,136, 1) !important;
}

.mat-stroked-button[disabled] {
  background-color: lightgray;
  color: gray !important; ;
  cursor: not-allowed !important;
}

.mat-icon {
  color: var(--text-dark);
}

.progress-row-title {
  width: 150px !important;
  text-align:right !important;
}


.task-button{
  margin-bottom: calc(-1rem * 4);
}


::ng-deep{
  .delete-campaign{
  .mat-button-wrapper{
    display: flex !important;
    align-items: center !important
  }
  }
  .tiers-expansion{

    td{
      color: var(--text-dark) !important;
      font-size: 0.75rem;
      font-weight: 200;
    }

    .mat-expansion-panel-body{
      padding: 0;
      padding-left: 0px !important;
      padding-right: 24px;
      padding-bottom: 16px;
    }
  }
}

// .mat-list-item:nth-child(odd){
//   background: var(--color-light-gray);
// }

.mat-expansion-panel-header{
  padding: 0;
  padding-right: 24px;
  // margin-left: -24px;
}



tr{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

