.space-filler {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  width: 40px;
}

.campaign-view-body {
  width: 90%;
  margin: auto;
}
.mat-stroked-button{
  border: 1px solid rgba(136,136,136, 1) !important;
}

.mat-icon {
  color: var(--text-dark);
}

.progress-row-title {
  width: 150px;
  text-align:right;
}

.progress-row-total {
  width: 35px;
}

.progress-bar {
  width: 100%;
  background-color: var(--color-gold);
  border-radius: .25rem;

}


.task-button{
  margin-bottom: calc(-1rem * 4);
}


::ng-deep{
  .delete-campaign{
  .mat-button-wrapper{
    display: flex !important;
    align-items: center !important
  }
  }
}
