.login-card{
  width: 250px;
  margin: auto;
  margin-top: 5%;
}
mat-drawer-content {
  background-image: linear-gradient(black, white);
}
/*
.mat-card-header-text {
  margin: auto;
}

.login-button {
  display: block;
  margin: auto;
}*/
