.login-card {
  width: 379px;
  height: 482px;
  max-width: 40vw;

  mat-form-field {
    width: 100%;
  }

  .login-button {
    border-radius: 20px;
    background-color: var(--color-forest);
  }

}

.login-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #819ca1, #7ba6a8, #76b0ab, #74b9ab, #78c2a6, #80c79e, #8ccb94, #9bce89, #abcd7d, #bdcc72, #d0ca69, #e3c663);
}
