.login-card{
  width: 379px;
  height: 482px;
  max-width: 40vw;

  mat-form-field{
    width: 100%;
  }

  .login-button{
    border-radius: 20px;
    background-color: var(--color-forest);
  }

}

.login-container{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to left bottom, #dedb5d, #b5dd78, #95db95, #81d5ae, #7fcdbf, #7fcec7, #80cfce, #83d0d4, #75dce0, #62e7eb, #47f3f5, #00ffff);
}

/*
.mat-card-header-text {
  margin: auto;
}

.login-button {
  display: block;
  margin: auto;
}*/

