<div class="row">
  <div class="col-12 comments-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="row" *ngFor="let comment of comments"
                    [ngClass]="currentUser.username === comment.author.username ? 'by-current-user' : 'by-other-user'">
      <div class="col-auto comment-creator-info"><h4>By {{ comment.author.fullname}}<br><span>{{ comment.creation }}</span></h4></div>
      <div class="col"><p>{{ comment.content }}</p><hr></div>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-12">
      <form class="comment-submission w-100">
          <mat-form-field class="col-10 offset-1">
            <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="10" cdkAutosizeMinRows="4"
                      name="comment-content"
                      placeholder="New comment..." [(ngModel)]="newCommentContent"></textarea>
          </mat-form-field>
          <div class="col-10 offset-1 d-flex justify-content-end mt-3">
            <button mat-raised-button (click)="submitComment()" color="primary">
              <mat-icon>send</mat-icon>
              SUBMIT
            </button>
         </div>
        </form>
  </div>
</div>


