<div class="row">
  <div class="col-12 mx-auto comments-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="row" *ngFor="let comment of comments"
      [ngClass]="currentUser.username === comment.author.username ? 'by-current-user' : 'by-other-user'">
      <div class="col-12 comment-creator-info">
        <p class="mb-1"><b>{{ comment.author.fullname}}</b><span> - {{ comment.creation }}</span></p>
      </div>
      <div class="col-12 pb-2">
        <p>{{ comment.content }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-12">
    <form class="comment-submission w-100">
      <mat-form-field class="col-12">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="10" cdkAutosizeMinRows="4" name="comment-content"
          placeholder="New comment..." [(ngModel)]="newCommentContent"></textarea>
      </mat-form-field>
      <div class="col-12 d-flex justify-content-end mt-3">
        <button mat-raised-button (click)="submitComment()" color="primary">
          <mat-icon>send</mat-icon>
          SUBMIT
        </button>
      </div>
    </form>
  </div>
</div>
