<!-- <div *ngIf="taskData">

  <h2>{{taskData.filename}}</h2>
  <table style="width:100%">
    <tr>
      <td>Assigned by:</td>
      <td>{{taskData.assigner.fullname}}</td>
    </tr>
    <tr>
      <td>Campaign:</td>
      <td>
        <a [routerLink]="['/admin', 'campaign', taskData.campaign.slug]">
          {{taskData.campaign.name}}
        </a>
      </td>
    </tr>
    <tr>
      <td>Created:</td>
      <td>{{taskData.creation_time}}</td>
    </tr>
    <tr>
      <td>Deadline</td>
      <td>{{taskData.deadline}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{taskData.step}}</td>
    </tr>
    <tr>
      <td>Annotators</td>
      <td>{{taskData.annotators.join(", ")}}</td>
    </tr>
  </table>

  <button mat-raised-button color="accent"
          [matTooltip]="taskData.is_locked? 'Unlock the task' : 'Lock the task'"
          (click)="changeTaskLock()">
    <mat-icon>{{taskData.is_locked ? 'lock_open' : 'lock'}}</mat-icon>
  </button>

  <button mat-mini-fab color="warn"
          matTooltip="Delete the task"
          (click)="deleteTask()">
    <mat-icon>delete_forever</mat-icon>
  </button>

  <h3>Files</h3>

  <table mat-table [dataSource]="textgridDataSource" class="mat-elevation-z2">

    // Checkbox Column
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="tgSelection.hasValue() && isAllSelected()"
                      [indeterminate]="tgSelection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let textgrid">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? tgSelection.toggle(textgrid) : null"
                      [checked]="tgSelection.isSelected(textgrid)"
                      [disabled]="textgrid.has_been_submitted">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef>Download</th>
      <td mat-cell *matCellDef="let textgrid" (click)="$event.stopPropagation()">
        <button *ngIf="textgrid.has_been_submitted" mat-mini-fab color="primary"
                (click)="downloadTaskTextGrid(textgrid)">
          <mat-icon>get_app</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let textgrid" (click)="$event.stopPropagation()">
        <button *ngIf="textgrid.has_been_submitted" mat-mini-fab color="warn"
                (click)="deleteTaskTextGrid(textgrid)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Filename.</th>
      <td mat-cell *matCellDef="let textgrid"> {{textgrid.name}} </td>
    </ng-container>

    <ng-container matColumnDef="has_been_submitted">
      <th mat-header-cell *matHeaderCellDef> Is done</th>
      <td mat-cell *matCellDef="let textgrid"> {{textgrid.has_been_submitted}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Creation</th>
      <td mat-cell *matCellDef="let textgrid">
        {{textgrid.has_been_submitted ? textgrid.creation : null}}
      </td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef> Creators</th>
      <td mat-cell *matCellDef="let textgrid">
        {{textgrid.has_been_submitted ? textgrid.creators.join(', ') : null}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="tgSelection.toggle(row)">
    </tr>
  </table>

  <button mat-raised-button (click)="downloadTextGrids()">
    <mat-icon>save_alt</mat-icon>
    Download selected textgrids
  </button>

  <h3>Discussion</h3>
  <seshat-comments [taskID]="taskData.id"></seshat-comments>

</div> -->


<div *ngIf="taskData" class="container p-4 task-info">
  <div class="row mb-4">
    <div class="col-12 text-center task-filename">
      <h3>{{taskData.filename}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="progress-row row">
        <div class="progress-row-title col-6 text-right"><h4>Campaign:</h4></div>
        <div class="task-info-detail col-6 text-left"><h4><span><a [routerLink]="['/admin', 'campaign', taskData.campaign.slug]">{{taskData.campaign.name}}</a></span></h4></div>
      </div>
      <div class="progress-row row">
        <div class="progress-row-title col-6 text-right"><h4>Assigned by:</h4></div>
        <div class="task-info-detail col-6 text-left"><h4><span>{{taskData.assigner.fullname}}</span></h4></div>
      </div>
      <div class="progress-row row">
        <div class="progress-row-title col-6 text-right"><h4>Created:</h4></div>
        <div class="task-info-detail col-6 text-left"><h4><span>{{taskData.creation_time}}</span></h4></div>
      </div>
      <div class="progress-row row">
        <div class="progress-row-title col-6 text-right"><h4>Status:</h4></div>
        <div class="task-info-detail col-6 text-left"><h4><span>{{taskData.step}}</span></h4></div>
      </div>
      <div class="progress-row row">
        <div class="progress-row-title col-6 text-right"><h4>Annotators:</h4></div>
        <div class="task-info-detail col-6 text-left"><h4><span style="color:hotpink !important;">{{taskData.annotators.join(", ")}}</span></h4></div>
      </div>
      <div class="progress-row row">
        <div class="progress-row-title col-6 text-right"><h4>Actions:</h4>
        </div>
        <div class="task-info-detail col-6 text-left">
            <button mat-raised-button [color]="taskData.is_locked? 'accent' : 'primary'"
            [matTooltip]="taskData.is_locked? 'Click to unlock the task' : 'Click to lock the task'"
            (click)="changeTaskLock()" class="mr-3">
              <mat-icon>{{taskData.is_locked ? 'lock' : 'lock_open'}}</mat-icon>&nbsp;
              {{taskData.is_locked ? 'Locked' : 'Unlocked'}}
            </button>
            <div class="alt-mat-theme d-inline">
              <button mat-flat-button color="warn"
              matTooltip="Delete the task"
              (click)="deleteTask()">
              <mat-icon>delete_forever</mat-icon>&nbsp;Delete Task
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 mb-5 col-8 mx-auto"><hr></div>

  <div class="row">
    <div class="col-12 text-center pt-2" style="background-color: white;">
        <h3>Task Files</h3>
    </div>

    <table mat-table [dataSource]="textgridDataSource" class="mat-elevation-z0 w-100">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="tgSelection.hasValue() && isAllSelected()"
                        [indeterminate]="tgSelection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let textgrid">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tgSelection.toggle(textgrid) : null"
                        [checked]="tgSelection.isSelected(textgrid)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Filename</th>
        <td mat-cell *matCellDef="let textgrid"> {{textgrid.name}} </td>
      </ng-container>

      <ng-container matColumnDef="has_been_submitted">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let textgrid"> {{textgrid.has_been_submitted? 'Completed' : 'Pending'}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Creation</th>
        <td mat-cell *matCellDef="let textgrid">
          {{textgrid.has_been_submitted ? textgrid.creation : null}}
        </td>
      </ng-container>

      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef> Creators</th>
        <td mat-cell *matCellDef="let textgrid">
          {{textgrid.has_been_submitted ? textgrid.creators.join(', ') : null}}
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let textgrid" (click)="$event.stopPropagation()">
            <button *ngIf="textgrid.has_been_submitted" mat-mini-fab color="warn"
                    (click)="deleteTaskTextGrid(textgrid)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="tgSelection.toggle(row)">
      </tr>
    </table>
    <div class="col-12 p-2 alt-mat-theme" style="background-color: white;">
      <button class="ml-3" style="margin-left: 24px;" mat-raised-button [disabled]="!tgSelection.hasValue()" [color]="tgSelection.hasValue()? 'accent' : 'primary'" (click)="downloadTextGrids()">
        <mat-icon>get_app</mat-icon>
        Download
      </button>
    </div>
</div>

<div class="mt-5 mb-5 col-8 mx-auto"><hr></div>


<div class="row">
    <div class="col-12 text-center pt-2 pb-4">
        <h3>Discussion</h3>
    </div>
    <div class="col-12">
        <seshat-comments [taskID]="taskData.id"></seshat-comments>
    </div>

</div>
