<script src="../task-assign/task-assign.component.ts"></script>
<mat-toolbar color="primary">
  <button mat-flat-button [routerLink]="['/admin', 'campaign', campaignSlug]">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span class="campaign-name">Wiki page for {{campaignSlug}}</span>
</mat-toolbar>


<button mat-raised-button class="wiki-save-button" color="primary" (click)="saveWiki()">
  <mat-icon>save</mat-icon>Save
</button>

<mat-tab-group class="wiki-edit-tabs mat-elevation-z2">

  <mat-tab label="Edit Content">
    <form>
      <mat-form-field class="wiki-text-area">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="200" cdkAutosizeMinRows="4"
                  [(ngModel)]="wikiContent" name="wiki-content"></textarea>
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab label="Preview">
    <ng-template matTabContent>
      <showdown [value]="wikiContent" class="markdown-render"></showdown>
    </ng-template>
  </mat-tab>
</mat-tab-group>
