.campaign-name {
  margin-left: 40px;
}

.wiki-text-area {
  width: 90%;
  display: block;
  margin: auto;
}

.wiki-edit-tabs {
  width: 90%;
  margin: auto;
}

.wiki-save-button {
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.markdown-render {
  width: 90%;
  margin: auto;
}
