<mat-toolbar color="primary">
  <button [matTooltip]="campaignSlug" matTooltipPosition="right" matTooltipShowDelay="500" mat-flat-button [routerLink]="['/admin', 'campaign', campaignSlug]">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <h3 class="campaign-name" *ngIf="campaignStatus">Wiki page for {{campaignStatus.name}}</h3>
</mat-toolbar>

<div class="w-100 text-right">
  <button mat-raised-button class="wiki-save-button" color="primary" (click)="saveWiki()">
    <mat-icon>save</mat-icon>
    Save
  </button>
</div>

<mat-tab-group class="wiki-edit-tabs mat-elevation-z2">

  <mat-tab label="Edit Content">
    <form>
      <mat-form-field class="wiki-text-area w-100 m-0 p-0">
          <!-- cdkTextareaAutosize cdkAutosizeMaxRows="200" cdkAutosizeMinRows="4" -->
        <textarea matInput
        cdkTextareaAutosize cdkAutosizeMaxRows="200" cdkAutosizeMinRows="10"
                  [(ngModel)]="wikiMarkDown" name="wiki-content"></textarea>
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab label="Preview">
    <ng-template matTabContent>
      <showdown [value]="wikiMarkDown" class="markdown-render wiki-headings"></showdown>
    </ng-template>
  </mat-tab>
  <mat-tab label="Formatting Guide">
    <ng-template matTabContent>
      <div class="wiki-headings">
      <p>
        This Markdown cheat sheet provides a quick overview of all the Markdown syntax elements.
        It can’t cover every edge case, so if you need more information about any of these elements,
        refer <a href="https://daringfireball.net/projects/markdown/syntax">the official guide</a>
        for basic syntax and extended syntax.
      </p>

      <h3 id="basic-syntax"><b>Basic Syntax</b></h3>

      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th><h4>Element</h4></th>
          <th><h4>Markdown Syntax</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><p>Heading</p></td>
          <td><code># H1<br />
            ## H2<br />
            ### H3</code></td>
        </tr>
        <tr>
          <td><p>Bold</p></td>
          <td><code>**bold text**</code></td>
        </tr>
        <tr>
          <td><p>Italic</p></td>
          <td><code>*italicized text*</code></td>
        </tr>
        <tr>
          <td><p>Blockquote</p></td>
          <td><code>&gt; blockquote</code></td>
        </tr>
        <tr>
          <td><p>Ordered List</p></td>
          <td><code>
            1. First item<br />
            2. Second item<br />
            3. Third item<br />
          </code></td>
        </tr>
        <tr>
          <td><p>Unordered List</p></td>
          <td>
            <code>
              - First item<br />
              - Second item<br />
              - Third item<br />
            </code>
          </td>
        </tr>
        <tr>
          <td><p>Bullet Points</p></td>
          <td>
            <code>
              * First bullet<br />
              * Second bullet<br />
              * Third bullet<br />
            </code>
          </td>
        </tr>
        <tr>
          <td><p>Code</p></td>
          <td><code>`code`</code></td>
        </tr>
        <tr>
          <td><p>Horizontal Rule</p></td>
          <td><code>---</code></td>
        </tr>
        <tr>
          <td><p>Link</p></td>
          <td><code>[title](https://www.example.com)</code></td>
        </tr>
        <tr>
          <td><p>Image</p></td>
          <td><code>![alt text](image.jpg)</code></td>
        </tr>
        </tbody>
      </table>

      <h3 id="extended-syntax"><b>Extended Syntax</b></h3>

      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th><h4>Element</h4></th>
          <th><h4>Markdown Syntax</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><p>Table</p></td>
          <td><code>
            | Syntax      | Description |<br />
            | ----------- | ----------- |<br />
            | Header      | Title       |<br />
            | Paragraph   | Text        |
          </code></td>
        </tr>
        <tr>
          <td><p>Fenced Code Block</p></td>
          <td>
            <code>```<br />
              {{'{'}}<br />
              &nbsp;&nbsp;"firstName": "John",<br />
              &nbsp;&nbsp;"lastName": "Smith",<br />
              &nbsp;&nbsp;"age": 25<br />
              {{'}'}}<br />
              ```
            </code>
          </td>
        </tr>
        <tr>
          <td><p>Footnote</p></td>
          <td><code>
            Here's a sentence with a footnote. [^1]<br /><br />

            [^1]: This is the footnote.
          </code></td>
        </tr>
        <tr>
          <td><p>Heading ID</p></td>
          <td><code>### My Great Heading {{'{#custom-id}'}}</code></td>
        </tr>
        <tr>
          <td><p>Definition List</p></td>
          <td><code>
            term<br />
            : definition
          </code></td>
        </tr>
        <tr>
          <td><p>Strikethrough</p></td>
          <td><code>~~The world is flat.~~</code></td>
        </tr>
        <tr>
          <td><p>Task List</p></td>
          <td><code>
            - [x] Write the press release<br />
            - [ ] Update the website<br />
            - [ ] Contact the media
          </code></td>
        </tr>
        </tbody>
      </table>
     </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
