<mat-toolbar color="primary">
  <button mat-flat-button [routerLink]="['/admin', 'campaign', campaignSlug]">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span class="campaign-name">Wiki page for {{campaignSlug}}</span>
</mat-toolbar>


<button mat-raised-button class="wiki-save-button" color="primary" (click)="saveWiki()">
  <mat-icon>save</mat-icon>
  Save
</button>

<mat-tab-group class="wiki-edit-tabs mat-elevation-z2">

  <mat-tab label="Edit Content">
    <form>
      <mat-form-field class="wiki-text-area">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMaxRows="200" cdkAutosizeMinRows="4"
                  [(ngModel)]="wikiMarkDown" name="wiki-content"></textarea>
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab label="Preview">
    <ng-template matTabContent>
      <showdown [value]="wikiMarkDown" class="markdown-render"></showdown>
    </ng-template>
  </mat-tab>
  <mat-tab label="Formatting Guide">
    <ng-template matTabContent>
      <p>
        This Markdown cheat sheet provides a quick overview of all the Markdown syntax elements.
        It can’t cover every edge case, so if you need more information about any of these elements,
        refer <a href="https://daringfireball.net/projects/markdown/syntax">the official guide</a>
        for basic syntax and extended syntax.
      </p>

      <h2 id="basic-syntax">Basic Syntax</h2>

      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th>Element</th>
          <th>Markdown Syntax</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Heading</td>
          <td><code># H1<br />
            ## H2<br />
            ### H3</code></td>
        </tr>
        <tr>
          <td>Bold</td>
          <td><code>**bold text**</code></td>
        </tr>
        <tr>
          <td>Italic</td>
          <td><code>*italicized text*</code></td>
        </tr>
        <tr>
          <td>Blockquote</td>
          <td><code>&gt; blockquote</code></td>
        </tr>
        <tr>
          <td>Ordered List</td>
          <td><code>
            1. First item<br />
            2. Second item<br />
            3. Third item<br />
          </code></td>
        </tr>
        <tr>
          <td>Unordered List</td>
          <td>
            <code>
              - First item<br />
              - Second item<br />
              - Third item<br />
            </code>
          </td>
        </tr>
        <tr>
          <td>Code</td>
          <td><code>`code`</code></td>
        </tr>
        <tr>
          <td>Horizontal Rule</td>
          <td><code>---</code></td>
        </tr>
        <tr>
          <td>Link</td>
          <td><code>[title](https://www.example.com)</code></td>
        </tr>
        <tr>
          <td>Image</td>
          <td><code>![alt text](image.jpg)</code></td>
        </tr>
        </tbody>
      </table>

      <h2 id="extended-syntax">Extended Syntax</h2>

      <p>These elements extend the basic syntax by adding additional features. Not all Markdown applications support these elements.</p>

      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th>Element</th>
          <th>Markdown Syntax</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Table</td>
          <td><code>
            | Syntax      | Description |<br />
            | ----------- | ----------- |<br />
            | Header      | Title       |<br />
            | Paragraph   | Text        |
          </code></td>
        </tr>
        <tr>
          <td>Fenced Code Block</td>
          <td>
            <code>```<br />
              {{'{'}}<br />
              &nbsp;&nbsp;"firstName": "John",<br />
              &nbsp;&nbsp;"lastName": "Smith",<br />
              &nbsp;&nbsp;"age": 25<br />
              {{'}'}}<br />
              ```
            </code>
          </td>
        </tr>
        <tr>
          <td>Footnote</td>
          <td><code>
            Here's a sentence with a footnote. [^1]<br /><br />

            [^1]: This is the footnote.
          </code></td>
        </tr>
        <tr>
          <td>Heading ID</td>
          <td><code>### My Great Heading {{'{#custom-id}'}}</code></td>
        </tr>
        <tr>
          <td>Definition List</td>
          <td><code>
            term<br />
            : definition
          </code></td>
        </tr>
        <tr>
          <td>Strikethrough</td>
          <td><code>~~The world is flat.~~</code></td>
        </tr>
        <tr>
          <td>Task List</td>
          <td><code>
            - [x] Write the press release<br />
            - [ ] Update the website<br />
            - [ ] Contact the media
          </code></td>
        </tr>
        </tbody>
      </table>

    </ng-template>
  </mat-tab>
</mat-tab-group>
