<div class="example-container">
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile colspan="1">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="First Name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="password">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>

