.space-filler {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.annotators-table{
  width: 90%;
  margin: auto;
  margin-bottom: 36px;
  margin-top: 36px;
}

.filter-field {
  margin-left: 20px;
  width: 25%;
}

.add-button{
  margin-bottom: calc(-1rem * 4);
}
