<mat-toolbar color="primary">
  <span>Annotators</span>
  <span class="space-filler"></span>
  <button mat-flat-button [routerLink]="['/admin', 'annotators', 'create']" ><mat-icon>add</mat-icon> Add annotator</button>
</mat-toolbar>



<div class="mat-elevation-z2 annotators-table">
  <mat-form-field class="filter-field">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="annotatorsList" matSort>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <button [routerLink]="['/admin', 'annotators', 'view', row.username]" mat-mini-fab><mat-icon>pageview</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.fullname}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let row"> {{row.username}} </td>
    </ng-container>

    <ng-container matColumnDef="last-activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Activity </th>
      <td mat-cell *matCellDef="let row"> {{row.last_activity}} </td>
    </ng-container>

    <ng-container matColumnDef="assigned-tasks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Tasks </th>
      <td mat-cell *matCellDef="let row"> {{row.assigned_tasks}} </td>
    </ng-container>

    <ng-container matColumnDef="active-tasks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Tasks </th>
      <td mat-cell *matCellDef="let row"> {{row.active_tasks}} </td>
    </ng-container>

    <ng-container matColumnDef="finished-tasks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Finished Tasks </th>
      <td mat-cell *matCellDef="let row"> {{row.finished_tasks}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openAnnotatorDialog(row.username)"
        *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
