<mat-toolbar class="d-flex justify-content-between">
  <h3 class="ml-3">Annotators</h3>
  <button class="mr-3" mat-flat-button color="primary" [routerLink]="['/admin', 'annotators', 'create']">
    <mat-icon>add</mat-icon>
    Add annotator
  </button>
</mat-toolbar>


<div class="mat-elevation-z2 annotators-table table-styling">
  <mat-form-field class="filter-field">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <table mat-table [dataSource]="annotatorsList" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let row"> {{row.fullname}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username</th>
      <td mat-cell *matCellDef="let row"> {{row.username}} </td>
    </ng-container>

    <ng-container matColumnDef="last-activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Activity</th>
      <td mat-cell *matCellDef="let row"> {{row.last_activity}} </td>
    </ng-container>

    <ng-container matColumnDef="assigned-tasks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Tasks</th>
      <td mat-cell *matCellDef="let row"> {{row.assigned_tasks}} </td>
    </ng-container>

    <ng-container matColumnDef="active-tasks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Tasks</th>
      <td mat-cell *matCellDef="let row"> {{row.active_tasks}} </td>
    </ng-container>

    <ng-container matColumnDef="finished-tasks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Finished Tasks</th>
      <td mat-cell *matCellDef="let row"> {{row.finished_tasks}} </td>
    </ng-container>

    <ng-container matColumnDef="lock-action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Locked&nbsp;<mat-icon matTooltip="Locking an annotator prevents the user from logging in." class="help-icon d-flex align-items-center">help</mat-icon></th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <mat-slide-toggle
          color="accent"
          [matTooltip]="row.is_locked ? 'Click to unlock' : 'Click to lock'"
          [checked]="row.is_locked"
          (toggleChange)="updateAnnotatorLock(row)">
        </mat-slide-toggle>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openAnnotatorDialog(row.username)"
        *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="['/admin', 'annotators', 'view', row.username]">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
