
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$dark-primary-text:rgb(74,74,70);

$seshat-olive: (
  A100: #c8e4a0,
  A200: #97b271,
  A400: #688245,
  contrast: (
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
  )
);

$seshat-gold: (
  A100: #fff993,
  A200: #e3c663,
  A400: #af9634,
  contrast: (
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
  )
);

$seshat-warn:(
  A100: #fe8370,
  A200: #c75344,
  A400: #91221c,
  contrast: (
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
  )
);


$seshat-alt-warn:(
  A100: #ffffff,
  A200: #e9ecef,
  A400: #b7babd,
  contrast: (
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
  )
);

$seshat-alt-primary:(
  A100: #b8b8b8,
  A200: #888888,
  A400: #5b5b5b,
  contrast: (
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
  )
);

$seshat-angular-client-primary: mat-palette($seshat-olive, A200, A100, A400);
$seshat-angular-client-accent: mat-palette($seshat-gold, A200, A100, A400);

// The warn palette is optional (defaults to red).
$seshat-angular-client-warn: mat-palette($seshat-warn, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$seshat-angular-client-theme: mat-light-theme($seshat-angular-client-primary, $seshat-angular-client-accent, $seshat-angular-client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($seshat-angular-client-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($seshat-alt-primary, A200, A100, A400);
$dark-accent:  mat-palette($seshat-olive, A200, A100, A400);
$dark-warn:    mat-palette($seshat-alt-warn, A200, A100, A400);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.alt-mat-theme {
  @include angular-material-theme($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; min-height: 100vh;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  font-size: 13.5pt;

  --main-bg-color: brown;

  --color-forest:rgb(84,125,130); //#547d82
  --color-olive:rgb(151,178,113); //#97b271
  --color-gold:rgb(227,198,99); //#e3c663
  --color-light-gray: rgb(246,248,249); //#f6f8f9
  --color-table-hover: rgb(232,234,235); //#e8eaeb
  --color-progress-bar-empty: rgb(233,236,239); //#e9ecef


  --text-dark: rgb(74,74,70); //#4a4a46
  --text-medium: rgb(136,136,136); //#888888
  --text-medium-light: rgb(179,179,179); //#b3b3b3
  --text-light: rgb(205,205,210); //#cdcdd2
  --text-white: rgb(255,255,255); //#ffffff
}

h1{
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0;
  span{
    color: var(--text-white);
  }
}

h2{
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0;
  span{
    color: var(--text-white);
  }
}

h3{
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 0;
}

h4{
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  font-size: 0.9rem;
  font-weight: 200;
  margin-bottom: 0;
  span{
    color: var(--text-medium-light);
  }
}

h5{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-medium);
  font-size: 0.75rem;
  font-weight: 200;
  margin-bottom: 0 !important;
  span{
    color: var(--text-white);
    font-weight: 500;
  }
}

p{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-dark);
  font-size: 0.85rem;
  span{
    color: var(--text-medium-light);
  }
}

table{
  font-family: 'Open Sans', sans-serif;
}

//progress row fonts

.progress-row{
  h3{
    color: var(--text-medium-light);
    font-size: 1.2rem;
  }
  .progress-row-title {
    h4{
      color: var(--text-medium-light);
    }
  }
}

.progress-row{
  h4{
    span{
      color: var(--text-dark);
    }
  }
  a{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-forest);
    font-size: 0.75rem;
    font-weight: 200;
    margin-bottom: 0 !important;
    margin-right: 0.33rem;
  }

  a::after {
    content: ","
  }
  a:last-of-type::after{
     display: none;
  }
}

//cards fonts
.mat-card-title{
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.mat-card-subtitle{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-medium);
  font-size: 0.75rem;
  font-weight: 200;
  margin-bottom: 0 !important;
}

//entry fonts
.mat-form-field{
  font-family: 'Open Sans', sans-serif !important;
  color: var(--text-dark);
}
.mat-form-field-label{
  color: var(--text-medium);
}
.mat-form-field-flex{
  align-items: end !important;
}



//tables fonts
.mat-cell{
  font-family: 'Open Sans', sans-serif;
}
.mat-header-cell{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.mat-paginator{
  font-family: 'Open Sans', sans-serif;
}


.seshat-toolbar{
  button{
    //h1 styling for logout in the navbar
    font-family: 'Poppins', sans-serif;
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0;
  }
}

.login-container{
  h1{
    font-family: 'Poppins', sans-serif;
    color: var(--text-white);
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 0;
    span{
      color: var(--text-dark);
    }
  }

  h3{
    font-family: 'Open Sans', sans-serif;
    color: var(--text-white);
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}


.seshat-logo{
  width: 100px;
  max-width: 75%;
  height: auto;
  img{
    width: 100%;
    height: auto;
  }
}


.mat-toolbar{
  background-color: white !important;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  color: var(--text-dark) !important;

  h3{
    font-family: 'Poppins', sans-serif;
    color: var(--text-dark);
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 0;
  }
}


//table and filter(search) styling
.table-styling{
  background: var(--text-white) !important;
  border-radius: 4px;

  table {
    width: 100%;
  }

  .mat-cell {
    border: none;
  }

  th{
    padding-left: calc(1rem / 2) !important;
    padding-right: calc(1rem / 2) !important;
  }
  td{
    padding-left: calc(1rem / 2) !important;
    padding-right: calc(1rem / 2) !important;
  }

  .mat-row{
    td:first-child{
      padding-left: calc(1rem * 1.5) !important;
    }
  }

  .mat-header-row{
    th:first-child{
      padding-left: calc(1rem * 1.5) !important;
    }
  }

  tr:nth-child(odd) {
    background: var(--color-light-gray);
  }

  tr:nth-child(even) {
    background: var(--text-white);
  }

  .mat-header-row {
    background: var(--text-white) !important;
  }

  tr:hover td {
    background: var(--color-table-hover);
    cursor: pointer;
  }

  mat-paginator {
    // background: hotpink !important;
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 0px 0px 4px 4px;
  }
}

.filter-field {
  margin-left: calc(1rem * 1.5);
  width: 25%;
}

.mat-input-element{
  color: var(--text-dark) !important;
}
.mat-form-field-empty.mat-form-field-label {
  color: var(--text-light);
}


.mat-form-field-infix{
  line-height: calc(1rem + 5px);
}

.login-container{
  .mat-form-field-infix{
    line-height: calc(1rem + 1px) !important;
  }
}

.help-icon{
  font-size: 1.5em;
}
