
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$seshat-angular-client-primary: mat-palette($mat-indigo);
$seshat-angular-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$seshat-angular-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$seshat-angular-client-theme: mat-light-theme($seshat-angular-client-primary, $seshat-angular-client-accent, $seshat-angular-client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($seshat-angular-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; min-height: 100vh;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  font-size: 13.5pt;

  --main-bg-color: brown;

  --color-forest:rgb(97,123,128); //#617b80
  --color-olive:rgb(151,178,113); //#97b271
  --color-lime:rgb(222,219,93); //#dedb5d
  --color-teal: rgb(32,138,148); //#208a94


  --text-dark: rgb(74,74,70); //#4a4a46
  --text-medium: rgb(102,102,102); //#666666
  --text-light: rgb(205,205,210); //#cdcdd2
  --text-white: rgb(255,255,255); //#ffffff
}

h1{
  font-family: 'Poppins', sans-serif;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0;
}

h2{
  font-family: 'Poppins', sans-serif;
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0;
}

.seshat-toolbar{
  button{
    //h1 styling for logout in the navbar
    font-family: 'Poppins', sans-serif;
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0;
  }
}

.login-container{
  h1{
    font-family: 'Poppins', sans-serif;
    color: var(--text-white);
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 0;
    span{
      color: var(--text-dark);
    }
  }

  h3{
    font-family: 'Open Sans', sans-serif;
    color: var(--text-white);
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}


.seshat-logo{
  width: 100px;
  max-width: 75%;
  height: auto;
  img{
    width: 100%;
    height: auto;
  }
}
