.mat-list-item{
  height: auto;
}
::ng-deep{
  .wiki-headings{
    h1{
      font-family: 'Poppins', sans-serif;
      font-size: 1.5em;
      margin: .67em 0;
      font-weight: 300;
      color: var(--text-dark);
    }
    h2{
      font-family: 'Poppins', sans-serif;
      font-size: 1.3em;
      margin: .75em 0;
      font-weight: 300;
      color: var(--text-dark);
    }
    h3{
      font-family: 'Poppins', sans-serif;
      font-size: 1.17em;
      margin: .83em 0;
      font-weight: 200;
      color: var(--text-dark);
    }
    h4{
      font-family: 'Poppins', sans-serif;
      font-size: 1em;
      margin: 1.12em 0;
      font-weight: 200;
      color: var(--text-dark);
    }
    h5{
      font-family: 'Poppins', sans-serif;
      font-size: 0.83em;
      margin: 1.5em 0;
      font-weight: 200;
      color: var(--text-dark);
    }
    h6{
      font-family: 'Poppins', sans-serif;
      font-size: 0.75em;
      margin: 1.67em 0;
      font-weight: 200;
      color: var(--text-dark);
    }
    p{
      font-family: 'Open Sans', sans-serif !important;
      color: var(--text-dark) !important;
      font-size: 0.85em !important;
      margin: 1.12em 0 ;
    }
    code{
      color: var(--text-olive);
    }
  }

}

ul{
  list-style-type: circle;
  padding-left: 15px;
  li::marker{
    font-size: 0.8em;
  }
}

tr{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.tier-styling{
  background: var(--text-white) !important;
  border-radius: 4px;

  table {
    width: 100%;
  }

  th{
    padding-left: calc(1rem / 2) !important;
    padding-right: calc(1rem / 2) !important;
    padding-top: calc(1rem / 2) !important;
    padding-bottom: calc(1rem / 2) !important;
  }
  td{
    padding-left: calc(1rem / 2) !important;
    padding-right: calc(1rem / 2) !important;
    padding-top: calc(1rem / 4) !important;
    padding-bottom: calc(1rem / 4) !important;
  }

  .mat-row{
    td:first-child{
      padding-left: calc(1rem * 1.5) !important;
    }
  }

  .mat-header-row{
    th:first-child{
      padding-left: calc(1rem * 1.5) !important;
    }
  }

  tr:nth-child(odd) {
    background: var(--color-light-gray);
  }

  tr:nth-child(even) {
    background: var(--text-white);
  }

  .mat-header-row {
    background: var(--text-white) !important;
  }
}
